 {
    "presets": [
     
    ],
    "plugins": [
       "react-hot-loader/babel",
       //We will not configure this loader in webpack to handle .js/.jsx file but in .babelrc
       "transform-object-rest-spread",
       //Detail :https://www.npmjs.com/package/babel-plugin-transform-object-rest-spread
       "transform-decorators-legacy"
       //In detail ：https://github.com/liangklfang/babel-plugin-transform-decorators-legacy
    ]
  }

//   {
//   "presets": [
//     ["es2015", { "modules": false }],
//     "react",
//     "airbnb"
//   ],
//   "plugins": [
//     "transform-decorators-legacy",
//     "transform-object-rest-spread",
//     "react-hot-loader/babel"
//   ],
//   "env": {
//     "test": {
//       "plugins": [
//         "transform-decorators-legacy",
//         "transform-object-rest-spread",
//         //Detail : https://www.npmjs.com/package/babel-plugin-transform-object-rest-spread
//         "istanbul"
//       ]
//     }
//   }
// }
